.articles-container
  min-height: calc(100vh - 120px)
  padding: 10px 10px
  width: 100%

  &__load-more
    background-color: $border-color-light-grey
    border: 1px solid $border-color-light-grey
    border-radius: 10px
    color: $color-white
    cursor: pointer
    font-size: 20px
    padding: 10px
    text-align: center
    width: 100%

  .article
    border: 1px solid $border-color-light-grey
    border-radius: 10px
    box-shadow: 0 5px 10px 0 $article-box-shadow-color-grey
    margin-bottom: 10px
    overflow: hidden

    &__image
      background: $font-color-light-grey
      min-height: 198px
      object-fit: cover

    &__content
      padding: 7px 10px 15px

    &__link-wrapper
      cursor: pointer
      text-decoration: none

    &__title
      color: $font-color-base-grey
      font-size: 24px
      font-weight: 500
      margin-bottom: 10px

      &:hover
        color: $font-color-lighter-grey

    &__tags
      display: flex
      flex-wrap: wrap

+media-breakpoint-up(sm)
  .articles-container
    align-items: center
    display: flex
    flex-direction: column

    .article
      display: flex
      max-width: 790px
      width: 100%

      &__image
        min-width: 200px
        width: 200px

      &__content
        padding: 15px


#epnis
  color: #000
