.filter-section-header
  align-items: center
  background-color: $color-dark-blue
  display: flex
  flex-shrink: 0
  height: 60px
  justify-content: space-between
  margin-bottom: 15px
  padding-left: 10px
  padding-right: 10px
  width: 100%

  &__prompt
    color: $color-white
    font-size: 30px
    line-height: .9

+media-breakpoint-up(md)
  .filter-section-header
    display: none
