.filter-section-header
  width: 100%
  height: 60px
  display: flex
  align-items: center
  justify-content: space-between
  flex-shrink: 0
  padding-left: 10px
  padding-right: 10px
  margin-bottom: 15px
  background-color: $color-dark-blue

  &__prompt
    color: $color-white
    font-size: 30px
    line-height: .9