.footer
  width: 100vw
  height: 60px
  display: flex
  justify-content: center
  align-items: center
  padding-left: 5px
  padding-right: 5px
  background-color: $color-base-blue

  &__text
    color: $color-white

  &__link
    margin-left: 5px
    font-size: 16px
    text-decoration: none
    color: $color-lighter-blue
