.header
  width: 100%
  height: 60px
  display: flex
  justify-content: center

  &__sticky-wrapper
    position: fixed
    width: 100%
    height: 60px
    display: flex
    align-items: center
    padding-left: 10px
    padding-right: 10px
    background-color: $color-dark-blue

  &__content-container
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

  &__left-side
    h1
      color: $color-white

+media-breakpoint-up(md)
  .header
    margin-bottom: 15px

    &__sticky-wrapper
      position: unset
      justify-content: center

    &__content-container
      width: 100%
      max-width: 780px

    &__right-side
      display: none

