.page-section
  padding-left: 10px
  padding-right: 10px

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px

  &__title
    font-size: 25px
    color: $font-color-dark-grey

  &__body
    margin-bottom: 13px
