.selectable-tag
  width: fit-content
  padding: 4px 5px
  border: 2px solid $color-light-blue
  border-radius: 6px
  color: $color-light-blue
  background-color: $color-white
  cursor: pointer
  font-size: 16px
  line-height: 1
  white-space: nowrap
  transition: color .3s, background-color .3s

  &--active
    color: $color-white
    background-color: $color-light-blue

  &--category,
  &--tags
    margin-right: 7px
    margin-bottom: 7px

  &--apply
    color: $color-white
    background-color: $font-color-lighter-grey
    border-color: $font-color-lighter-grey
    margin-right: 10px

  &--eraser
    color: $color-white
    background-color: $color-dark-red
    border-color: $color-dark-red

  &--filter
    color: $font-color-base-grey
    border-color: $font-color-base-grey

  &--header
    font-size: 18px
    color: $font-color-lighter-grey
    border-color: $font-color-lighter-grey
    margin-top: 2px

  &--home
    text-decoration: none

  &--in-article
    font-size: 12px
    margin-right: 5px
    margin-bottom: 5px
    border: 1px solid $color-light-blue

+media-breakpoint-up(md)
  .selectable-tag
    &--active,
    &--category,
    &--tags
      &:hover
        color: $color-white
        background-color: $color-light-blue