// colors
$color-white: #ffff
$color-dark-blue: #0b2545
$color-base-blue: #13315c
$color-light-blue: #134074
$color-lighter-blue: #8da9c4
$color-dark-red: #900

// font-colors
$font-color-dark-grey: #1a1a1a
$font-color-base-grey: #333
$font-color-light-grey: #4d4d4d
$font-color-lighter-grey: #666


// border colors
$border-color-light-grey: #b3b3b3


// box-shadow colors
$article-box-shadow-color-grey: rgba(0,0,0,.18)
